<div class="p-8">
  <div class="shadow-md size-16 rounded-full bg-gray-300"></div>
  <div>Hello, {{ .name }}</div>
  <div>
    <ul>
      <a href="{{ .link }}">{{ .link_name }}</a>
    </ul>
  </div>
</div>
